{% load i18n %}
<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8">
</head>
<body>
    <!-- Pagination of Vacancies -->
    {% if vacancies.paginator.page_range > 1 %}
        <div class="clearfix mb10 paginator">
            <div class="pull-right">
                <nav>
                    <ul class="pagination pagination-sm">
                    {% ifequal link_anterior vacancies.number %}
                       <li class="disabled"><a href="#">&laquo;</a></li>
                    {% else %}
                       <li><a href="?page={{ link_anterior }}">&laquo;</a></li>
                    {% endifequal %}

                    {% for num in vacancies.paginator.page_range %}
                         {% if vacancies.paginator.num_pages > num_pages_visible %}
                            {% if num >= minimo_paginas%}
                                {% if num <= maximo_paginas  %}
                                    {% ifequal num vacancies.number %}
                                        <li class="active">
                                            <span>{{ num }} <span class="sr-only">(current)</span></span>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="?page={{ num }}"> {{ num }} </a>
                                        </li>
                                    {% endifequal %}
                                {% endif %}

                            {% endif %}
                         {% else %}
                             {% ifequal num vacancies.number %}
                                 <li class="active">
                                     <span>{{ num }} <span class="sr-only">(current)</span></span>
                                 </li>
                             {% else %}
                                 <li>
                                    <a href="?page={{ num }}"> {{ num }} </a>
                                 </li>
                             {% endifequal %}
                         {% endif %}
                    {% endfor %}

                    {% ifequal link_siguiente vacancies.number %}
                         <li class="disabled"><a href="#">&raquo;</a></li>
                    {% else %}
                         <li><a href="?page={{ link_siguiente }}">&raquo;</a></li>
                    {% endifequal %}

                </ul>
                </nav>
            </div>

            <span><strong>Showing results <span class="number">{{ vacancies.start_index }}</span> to <span class="number">{{ vacancies.end_index }}</span>from <span class="number">{{ num_vacancies }}</span></strong></span>
        </div>
    {% endif %}
    <!-- End Job Pagination -->
</body>
</html>