{% load i18n %}
{% load staticfiles %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}{% block title-page %}{% endblock title-page %} - SpotAxis' Resources</title>
    <meta name="robots" content="follow, all" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block meta-description %}{% trans "Home of SpotAxis Blog." %}{% endblock meta-description %}{% block meta-description-page %}{% endblock meta-description-page %}" />
    <meta name="keywords" content="{% block meta-keywords %}SpotAxis, blog, weblog{% endblock meta-keywords %}" />
    <meta name="author" content="SpotAxis" />
    {% block meta %}{% endblock meta %}
    <link rel="pingback" href="/xmlrpc/" />
    <link rel="shortcut icon" href="{{STATIC_URL}}img/logo/favicon.png" />
    <link rel="home" href="{% url 'zinnia:entry_archive_index' %}" />
        <!-- CSS Stylesheets -->
        <link href="{{ STATIC_URL }}bootstrap-3.3.4/css/bootstrap.css" rel="stylesheet" type="text/css"/>
      <!--link href='//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'-->
        <link rel="stylesheet" href="{{STATIC_URL}}font-awesome-4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ STATIC_URL }}ionicons-2.0.1/css/ionicons.min.css" rel="stylesheet">
        <link href="{{STATIC_URL}}css/selectize.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/animate.css">
        <link rel="stylesheet" href="{{STATIC_URL}}AmaranJS/dist/css/amaran.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}switchery-master/dist/switchery.min.css">
        <link href="{{ STATIC_URL }}newtheme/vendor/themify/themify.css" rel="stylesheet" type="text/css"/>
        <link href="{{ STATIC_URL }}newtheme/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="{{ STATIC_URL }}newtheme/css/global/global.css" rel="stylesheet" type="text/css"/>
        <link href="{{ STATIC_URL }}newtheme/css/sugarcoat.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css">
        <link rel="stylesheet" href="{{STATIC_URL}}Hover-master/css/hover.css" type="text/css">
        <script src="{{ STATIC_URL }}js/jquery-1.12.4.min.js"></script>

    <!--[if lt IE 8]>
        <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "zinnia/theme/css/ie.css" %}" />
    <![endif]-->
    {% block link %}{% endblock link %}
  </head>
  <!--body class="{% block theme-class %}default{% endblock theme-class %} {% block color-class %}blue{% endblock color-class %} {% block sidebar-class %}right-sidebar{% endblock sidebar-class %} {% block body-class %}{% endblock body-class %}"-->
  <body class="bg-white no-padding">
    {% with True as static_header %}
      {% include 'base/new_header.html' %}
    {% endwith %}
    <div class="container-fluid mt40 pl15 pr15 pt20">
      <div class="row">
        <div class="col-md-12 no-padding">
          {% comment %}
          <nav class="navbar navbar-default no-border no-margin-bottom">
            <div class="container-fluid">
              <div class="navbar-header border-bottom border-light row">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".resource-navbar" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{settings.HOSTED_URL}}">
                  <h3 class="no-margin text-info"><img src="{{STATIC_URL}}img/logo/logo_image.png" class="navbar-img mr2 pb5">SpotAxis</h3>
                </a>
              </div>
              <div class="collapse navbar-collapse resource-navbar mobile-only navbar-left">
                <ul class="nav navbar-nav no-margin-y">
                  {% with '/resources/' as root %}
                    <li class="{%if root == request.path %}active{% endif %}"><a href="/resources/"><i class="fa fa-home mr5 {%if not root == request.path %}text-info{% endif %}"></i> All Resources <span class="sr-only">(current)</span></a></li>
                  {% endwith %}
                  {% for category_item in categories %}
                    <li class="{% if category_item == category %}active{% endif %}"><a href="{{category_item.get_absolute_url}}">{{category_item}}</a></li>
                  {% endfor %}
                </ul>
                <!--form class="navbar-form navbar-left">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form-->
                <!--ul class="nav navbar-nav navbar-right mr10">
                  <li><a href="#">Link</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </li>
                </ul-->
              </div><!-- /.navbar-collapse -->
              <div class="navbar-collapse collapse resource-navbar no-padding navbar-right">
                {% include 'base/header_user_section.html' %}
              </div>

            </div>
          </nav>
          {% endcomment %}
          <nav class="navbar navbar-trans no-border no-br hidden-xs">
            <div class="container-fluid">
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse no-padding resource-navbar">
                <!--ul class="nav navbar-nav">
                  {% with '/resources/' as root %}
                    <li class="{%if root == request.path %}active{% endif %}"><a href="/resources/"><i class="fa fa-home mr5 {%if not root == request.path %}text-info{% endif %}"></i> All Resources <span class="sr-only">(current)</span></a></li>
                  {% endwith %}
                  {% for category_item in categories %}
                    <li class="{% if category_item == category %}active{% endif %}"><a href="{{category_item.get_absolute_url}}">{{category_item}}</a></li>
                  {% endfor %}
                </ul-->
                <!--form class="navbar-form navbar-left">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <!--ul class="nav navbar-nav navbar-right mr10">
                  <li><a href="#">Link</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </li>
                </ul-->
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
          <!--header id="header" role="banner">
            <nav>
              <ul class="top-navigation">
                <li>
                  <a href="{% url 'zinnia:sitemap' %}" title="{% trans "Sitemap" %}" class="sitemap" rel="sitemap">
                    {% trans "Sitemap" %}
                  </a>
                </li>
                <li>
                  <a href="{% url 'zinnia:entry_feed' %}" title="{% trans "RSS feed of last resources" %}" class="feeds">
                    {% trans "RSS feed" %}
                  </a>
                </li>
              </ul>
            </nav>
            <form method="get" action="{% url 'zinnia:entry_search' %}">
              <p>
                <input type="text" name="pattern" placeholder="{% trans "Keywords..." %}" {% if pattern %}value="{{ pattern }}"{% endif %} />
                <input type="submit" class="submitbutton" value="OK" />
              </p>
            </form>
            <h1>
              <a href="{% url 'zinnia:entry_archive_index' %}" title="SpotAxis Blog" rel="home" class="text-info">
                SpotAxis Blog
              </a>
            </h1>
            <blockquote>
              <p>{% trans "Home to SpotAxis Blog" %}</p>
            </blockquote>
            {% block breadcrumbs %}{% endblock breadcrumbs %}
          </header-->
          <div class="row">
            <div id="content" class="col-md-9 pl50 pr30" role="main">

              {% block slider %}{% endblock slider %}
              {% block content %}
                <div class="links">
                  <h2>{% trans "Useful links" %}</h2>
                  <ul>
                    <li>
                      <a href="{% url 'zinnia:entry_archive_index' %}" title="{% trans "Weblog index" %}">
                        {% trans "Weblog index" %}
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'zinnia:sitemap' %}" title="{% trans "Sitemap" %}">
                        {% trans "Sitemap" %}
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="search">
                  <h2>{% trans "Search" %}</h2>
                  {% include "zinnia/tags/search_form.html" %}
                </div>
              {% endblock content %}
            </div>
            <div id="sidebar" role="complementary" class="col-md-3 pr50 pl30 hidden-xs hidden-sm">
              <div><!-- class="affix-right" data-spy="affix" data-offset-top="140" data-offset-bottom="400">-->
              {% block sidebar %}
              {% endblock sidebar %}
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>
        <a href="javascript:void(0);" class="s-back-to-top js__back-to-top"></a>
    {% include 'base/new_footer.html' %}
    <script src="{{ STATIC_URL }}bootstrap-3.3.4/js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/script.js"></script>
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sortable/0.9.13/jquery-sortable-min.js"></script-->
    <script src="{{STATIC_URL}}js/selectize.js"></script>
    <script src="{{STATIC_URL}}js/initial.js"></script>
    <script src="{{STATIC_URL}}clipboard.js-master/dist/clipboard.min.js"></script>
    <script src="{{STATIC_URL}}AmaranJS/dist/js/jquery.amaran.min.js"></script>
    <script src="{{STATIC_URL}}switchery-master/dist/switchery.min.js"></script>
    <script src="{{STATIC_URL}}js/salvatore.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}newtheme/vendor/jquery.back-to-top.min.js"></script>

    {% if not no_header %}
            <script type="text/javascript" src="{{ STATIC_URL }}newtheme/js/components/header-sticky.min.js"></script>
        {% endif %}
    <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create','UA-84854653-1','auto');
            ga('send','pageview');
        </script>
        <script>
            {% if settings.ENVIRONMENT == 'productive' %}
                $(function () {
                    $("[rel='tooltip']").tooltip();
                    $("label").tooltip({
                        'container':'body'
                    });
                    $('[data-toggle="tooltip"]').tooltip();
                });
            {% endif %}
            $(document).ready(function() {
                $('.grid').masonry();
                $('[data-toggle="tooltip"]').tooltip({'template':'<div class="tooltip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'});
                $('img[data-name][src$="{{settings.PHOTO_USER_DEFAULT}}"]').initial();
                // $("form").submit(function(e) {
                //     {# It serves to disable any form by sending a button type=submit #}
                //     {# to avoid multiple clicks #}
                //     var val = $("button[type=submit][clicked=true]");
                //     val.attr('disabled', 'disabled');
                //     val.html("<i class='fa fa-spinner fa-pulse'></i> Please wait...").addClass('disabled');
                //     return true;
                // });
                // $("form button[type=submit]").click(function() {
                //     $("button[type=submit]", $(this).parents("form")).removeAttr("clicked");
                //     $(this).attr("clicked", "true");
                // });
                function affix_nav(){
                    $nav = $('.navbar-affix');
                    // console.log($nav)
                    if($nav[0]){
                        nav = $nav[0]
                        prevheight = $nav.prev()[0].offsetHeight + $nav.prev()[0].offsetTop;
                        // console.log($nav.hasClass('navabar-fixed-top'))
                        scrollLimit = window.scrollY
                        offset = 0;
                        if ($('.navbar-fixed-top #navbar_short')[0]){
                            offset =  $('.navbar-fixed-top #navbar_short').height()+1
                            scrollLimit +=offset 
                        }
                        // console.log(scrollLimit)
                        // console.log(prevheight)
                        {% if request.user.is_authenticated %}
                            if(!$nav.hasClass('navbar-fixed-top') && scrollLimit > nav.offsetTop){
                                $nav.addClass('navbar-fixed-top');
                                $nav.css('top',offset);
                                if (offset > 0){
                                    offset = offset - 10
                                }
                                else {
                                    offset = 41
                                }
                                added_margin = $nav.height() + offset;
                                // alert(added_margin)
                                $nav.prev().css('margin-bottom', added_margin); 
                            }
                            else if ($nav.hasClass('navbar-fixed-top') && scrollLimit <= prevheight+46){
                                // console.log('a')
                                $nav.removeClass('navbar-fixed-top');
                                $nav.prev().css('margin-bottom', '0');
                                $nav.css('top',0)
                            }
                            else if (!$nav.hasClass('navbar-fixed-top')){
                                $nav.prev().css('margin-bottom', '0');
                            }
                        {% else %}
                            $nav.addClass('navbar-fixed-top');
                        {% endif %}
                    }
                }
                function adjust_sub_nav() {
                    {% if request.user.is_authenticated %}
                        if(window.scrollY>50)
                        {
                            $('.navbar-short').addClass('navbar-fixed-top');

                        }
                        // else if(window.scrollY<=50)
                        // {
                        //     $('.sub-nav').css('top',50-window.scrollY)
                        // }
                        else {
                            $('.navbar-short').removeClass('navbar-fixed-top');
                        }
                    {% else %}
                        $('.navbar-short').addClass('navbar-fixed-top');
                    {% endif %}
                }
                adjust_sub_nav();
                affix_nav();
                {%if isIndex %}
                    var lastScrollTop = 0;
                    function adjust_main_nav(){
                        var st = $(this).scrollTop();
                        if (st > lastScrollTop || (st<lastScrollTop && st<2)){
                           // downscroll c
                         $('.navbar-trans').removeClass('navbar-fixed-top navbar-default')

                        } else{
                          // upscroll code
                           if (!$('.navbar-trans').hasClass('navbar-fixed-top')) {

                                $('.navbar-trans').css('top','-50px')
                           }
                           $('.navbar-trans').addClass('navbar-fixed-top navbar-default');
                             // setTimeout(function(){
                                $('.navbar-trans').css('top','0px')

                             // },200)
                        }
                        lastScrollTop = st;
                    }
                {%endif%}
                $(window).scroll(function(){
                    adjust_sub_nav();
                    {%if isIndex %}
                        adjust_main_nav();
                    {% endif%}
                    affix_nav();
                })
                function scrollToAnchor(aid){
                    var aTag = $("[id='"+ aid +"']");
                    // console.log(aTag);
                    $('html,body').animate({scrollTop: aTag.offset().top},'slow');
                }
                $("a").click(function() {
                    if($(this).attr('href') && $(this).attr('href').indexOf('#')>0)
                    {
                        var href = $(this).attr('href').replace('#', '')
                        scrollToAnchor(href);
                    }
                });
            });
            function alert(msg, color="#aaa", bgcolor="#fff", time=10000){
                $.amaran({
                    'position': 'bottom right',
                    'theme': 'colorful',
                    'content': {
                        bgcolor: bgcolor,
                        color: color,
                        message: msg
                    },
                    // 'sticky': true,
                    'delay': time,
                    'cssanimationIn': 'bounceInUp',
                    'cssanimationOut': 'bounceOutRight',
                    'reset Timeout': true
                });
            }
            $(document).ready(function(){
                $('.alert').addClass('hidden');
                $('.alert').each(function(){
                    alert($(this).html())
                });
                $('.alert').remove();
                $('.paid-section').click(function(){
                    $('#upgradeModal').modal('show');
                })
                $('#upgradeModal form').submit(function(e){
                    e.preventDefault();
                    $this = $(this);
                    $this.find('.btn-info').html('<i class="fa fa-spinner fa-pulse"></i> Please Wait').prop('disabled',true).addClass('disabled');
                    $.ajax({
                        data:{
                            'phone': $this.find('input').val() 
                        },
                        type:"post",
                        url: "{% url 'pricing_request' %}",
                        complete: function(){
                            $this.find('.btn-info').html('Send').prop('disabled',false).removeClass('disabled');
                        },
                        success: function(data){
                            if (data.success){
                                alert(data.msg)
                            }
                            else {
                                alert('Failed to send request. Please try again later.')
                            }
                        }
                    })
                })
            });
            function setCookie(cname, cvalue, exdays) {
                var d = new Date();
                d.setTime(d.getTime() + (exdays*24*60*60*1000));
                var expires = "expires="+ d.toUTCString();
                document.cookie = cname + "=" + cvalue + "; " + expires;
            }
            function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0)==' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length,c.length);
                    }
                }
                return "";
            }
        </script>
        <script>
            $(document).ready(function(){
                $('img[data-name][src$="{{settings.PHOTO_USER_DEFAULT}}"]').initial();
                {% if request.user.is_authenticated %}
                    if(typeof(EventSource) !== "undefined") {
                        var source = new EventSource("{% url 'notifications' %}")
                        // alert('Yay! RealTime Notifications enabled')
                        // console.log(source)
                        // source.addEventListener('open', function(e) {
                        //   // Connection was opened.
                        //   alert('opened')
                        // }, false);

                        // source.addEventListener('message', function(e) {
                        //   console.log(e.data);
                        // }, false);


                        // source.addEventListener('error', function(e) {
                        //   if (e.readyState == EventSource.CLOSED) {
                        //     // Connection was closed.
                        //   }
                        // }, false);
                        source.onopen = function(event) {
                            // alert(event);
                            // alert('opened')
                            // console.log(event)
                        };
                        // source.addEventListener('message', function(e) {
                          
                        //   console.log(e);
                        //   var data = e.data;
                        //   console.log(data)
                        //   // console.log(data.id, data.msg);
                        // }, false);
                        source.onmessage = function(event) {
                            // console.log(event.data)
                            // alert(event.data);
                            // console.log(event.data)
                            data = JSON.parse(event.data)
                            count = data.length
                            // console.log(event.data)
                            $badge = $('.notification-menu').prev().find('.badge');
                            count = parseInt($badge.attr('data-value')) + count;
                            $badge.attr('data-value',count.toString()).html(count.toString());
                            for (i=0;i<data.length;i++) {
                                notification = data[i]
                                html = notification.html
                                new_block  = $('.notification-menu').prepend(html);
                                $('.notification-menu .unseen').on('mouseenter',mark_as_seen)
                                console.log(new_block)
                                $('.notification-menu img[data-name][src$="{{settings.PHOTO_USER_DEFAULT}}"]').initial();
                            }

                        };
                        source.onerror = function(event,ee,er) {
                            // console.log(event)
                            // console.log(ee)
                            // console.log(er)
                            // alert(event.data);
                            // console.log(event.data)
                        };
                    } else {
                        console.log('Your Browser does not support real time notifications.')
                    }
                {% endif %}
            });
        </script>
        <script>
            var popover_options = {
                    template: '<div class="popover no-padding border-info" role="tooltip"><div class="arrow border-info"></div><h3 class="popover-title text-inverse bg-dark-info"></h3><div class="popover-content no-padding"></div></div>',
                    html: true,
                    // trigger: 'focus'
            }
            var mark_as_seen = function(){
                //Updat as seen
                $this = $(this);
                // console.log($this);
                // console.log($this.data('notification'))
                $this.removeClass('unseen');
                count = parseInt($this.parents('.notification-menu').prev().find('.badge').attr('data-value'));
                // console.log(count)
                if(count)
                    count = count -1;
                else
                    count = 0
                $this.parents('.notification-menu').prev().find('.badge').attr('data-value',count.toString()).html(count.toString());
                $.ajax({
                    url: '/ajax/mark_as_read/',
                    data: {'n_id':$this.data('notification')},
                    type: 'post',
                    error: function(er){
                        console.log(er)
                    }
                })
            } 
            $(document).ready(function(){
                $('.notification-menu .unseen').on('mouseenter',mark_as_seen);
                $('.slab_period').click(function(){
                    $(this).parents('.panel').find('.slab_period').removeClass('active');
                    $(this).addClass('active');
                    $(this).parents('.panel').find('form #plan_id').val($(this).attr('data-slab'));
                })
                {% if not isIndex %}
                    $('#pricing-comparison').on('hidden.bs.modal', function(){
                        $('#billing-modal').modal('show');
                    });
                {% endif %}
                var get_user_count = function(){
                    $value = $('#user_count_text').val();
                    try{
                        $value = parseInt($value);
                    }
                    catch(err){
                        $value = 0;
                    }
                    if(!$value)
                        $value = 0;
                    return $value;
                }
                $('.add_users_button').click(function(){
                    $value = get_user_count();
                    $value = $value + 1;
                    $('#user_count_text')[0].value = $value;
                    $('#user_count_text').change();
                });
                $('.remove_users_button').click(function(){
                    $value = get_user_count();
                    $value = $value - 1;
                    if($value<0)
                        $value = 0;
                    $('#user_count_text').val($value)
                    $('#user_count_text').change();
                });
                var update_total = function(){
                    $amount = parseFloat($('#package_price_text').val());
                    $total = parseFloat($('#subtotal_text').html()) + $amount;
                    $("#total_text").html(parseFloat($total).toFixed(2))
                }
                var update_subtotal = function(){
                    rate = $('#rate_text').html();
                    rate = parseFloat(rate);
                    // console.log(rate)
                    try{
                        count = parseFloat($('#user_count_text').val());
                    }
                    catch(er){
                        count =0.00;
                    }
                    if (!count)
                        count = 0.00;
                    $value = rate*count
                    $('#subtotal_text').html(parseFloat($value).toFixed(2))
                    update_total();
                }
                $('#user_count_text').change(update_subtotal);
                $('#users-billing-modal').on('shown.bs.modal', function(){
                    update_subtotal();
                });
                $('#users-billing-modal').on('hidden.bs.modal', function(){
                    $('#package_text').html($('#package_text').attr('data-content'));
                    $('#period_text').html($('#period_text').attr('data-content'));
                    $('#package_price_text').val($('#package_price_text').attr('data-content'));
                    $('#rate_text').html($('#rate_text').attr('data-content'));
                    $('#user_count_text').val($('#user_count_text').attr('data-content'));
                    $('#subtotal_text').html($('#subtotal_text').attr('data-content'));
                    $('#total_text').html($('#total_text').attr('data-content'));
                    $('.package_price_text').each(function(k,el){
                        $(el).html($(el).attr('data-content'));
                        if($(el).attr('data-content') === '0' || $(el).attr('data-content') === 'FREE'){
                            $(el).prev().addClass('hidden');
                        }
                        else {
                            $(el).prev().removeClass('hidden');
                        }
                    });
                    $('.additional_users').addClass('hidden')
                    $('.period_text').each(function(k,el){
                        $(el).html($(el).attr('data-content'));
                    });
                    $('.currency_text').each(function(k,el){
                        $(el).html($(el).attr('data-content'));
                    });
                    $('#slab_text').val($('#slab_text').attr('data-content'));
                });

               
                $('[data-toggle="popover"]').popover(popover_options);
            });
            var popover_initials = function(){
                $('.popover img[data-name][src$="{{settings.PHOTO_USER_DEFAULT}}"]').initial();
            }
            $('[data-toggle="popover"]').on('shown.bs.popover', popover_initials);
        </script>
        
        <!-- start Mixpanel -->
        <!--script type="text/javascript">
            (function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
            0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
            for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
            mixpanel.init("0eab9a3d2e4a0c4e7bdcc32ef4787494");
        </script-->
        <!-- end Mixpanel -->
    {% block script %}{% endblock script %}
  </body>
</html>
