{% extends "base/base.html" %}
{% load i18n %}
{% load TRM_tags %}

{% block content %}
	<div class="jumbotron bg-banner-2">
		<h2 class='text-center text-info'>About Us</h2>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-push-2 mb20">
				<p class="text-center mb20 ml10"><b>Welcome to <span class="text-info">SpotAxis</span></b>, a recruitment solution to collaborate with colleagues, manage career site, post jobs, attract talents, organise hiring process and take data driven decisions.</p>
				<h4 class="text-center mt20">Vision</h4>
				<p class="text-center mb20 ml10">To be the world's largest professional ecosystem</p>
				<h4 class="text-center mt20">Mission</h4>
				<p class="text-center mb20 ml10">To propel the recruitment process of every business</p>
				<h4 class="text-center mt20">About Company</h4>
				<p class="text-center mb20 ml10">SpotAxis is a solution of Travelder Infosolutions Pvt Ltd which is based in Bengaluru, India.</p>
				<div class="container-fluid">
					<h5 class="text-center">Founding Team</h5>
					<div class="row mb10">
						<div class="col-xs-12 col-sm-6">
							<div class=" text-center pt10 pl10 pr10 pb10 mb15">
								<img class="img-circle img-circle-hg bordered border-white border-thick" src="{{STATIC_URL}}img/people/hp.jpg">
								<h3 class="border-bottom border-info">Holesh Priyankar </h3>
								<p>MBA and BTech grad who have worked with corporates and several early stage startups.</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="text-center pt10 pl10 pr10 pb10 mb15">
								<img class="img-circle img-circle-hg bordered border-white border-thick" src="{{STATIC_URL}}img/people/sa.jpg">
								<h3 class="border-bottom border-info">Saket Shukla</h3>
								<p>BTech grad with experience from several early stage startups and passionate about technologies.</p>
							</div>
						</div>
					</div>
					<h5 class="text-center mt20">Advisors and Investors</h5>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-sm-offset-3">
							<div class="text-center pt10 pl10 pr10 pb10 mb15">
								<img class="img-circle img-circle-hg bordered border-white border-thick" src="{{STATIC_URL}}img/people/ss.jpg">
								<h3 class="border-bottom border-info">Srinibas Sahoo </h3>
								<p>MBA grad with wide range of experience in sales and recruitment, contributed as VP for the growth of naukri.com in its core team. </p>
							</div>
						</div>
					</div>
				</div>
				<!--h4 class="text-center mt20">What we offer</h4>
				<h5 class="ml10 inline-block"><b>Publish: </b></h5>
				<p class="mb20 inline-block">Manage own Career Site with own branding and publish jobs without any technical knowledge</p><br>
				<h5 class="ml10 inline-block"><b>Applications: </b></h5>
				<p class="mb20 inline-block">Receive and process candidate applications through own career site and referrals seamlessly</p><br>
				<h5 class="ml10 inline-block"><b>Engagement: </b></h5>
				<p class="mb20 inline-block">Collaborate with your team for general communication and hiring purposes as well</p><br>
				<h5 class="ml10 inline-block"><b>Assess: </b></h5>
				<p class="mb20 inline-block">Individually or as a team, rate, filter, and compare candidates to on-board with confidence</p><br>
				<h5 class="ml10 inline-block"><b>Hire: </b></h5>
				<p class="mb20 inline-block">On-board the right candidate to build a great team</p-->
			</div>
		</div>
	</div>
{%endblock %}