export SECRET_KEY='django-insecure-#&!@'
export ENVIRONMENT='local_development'
export local_db_engine='django.db.backends.mysql'
export local_db_name='TRM_local'
export local_db_user='TRM_user'
export local_db_password='pass'
export local_db_host=''
export local_db_port=''
export local_email_host='smtp.gmail.com'
export local_email_host_user='contact.travelder@gmail.com'
export local_email_host_password='qwerty123$'
export local_email_port=587
export local_use_tls=True
export local_facebook_key='886020148168119'
export local_facebook_secret='b7e32633ce8789a7ff072971cf12e303'
export local_paypal_merchant_id='XKMWAANJEJQ5U'
export local_paypal_access_token='access_token$sandbox$42fgg8mwznb89ys2$81fa0749fc14faafabffe99ea319375b'
export local_paypal_client_id='AawWwBbC0IUBhU4sJ8I3aPzjBXIjJyzcAXYNSXxC1JCO4l6K_kr5TIU085cjwmOq34mg4pzCFyLkZeeK'
export local_paypal_app_secret='EGkHxjwddqKnIDr6LUEPyY2IVqygyZxbf27M3RNhLUMEi1jUG4Wl864ZUfBHu0uM6V6fPjT_k5aSbgEG'
export local_paypal_account='contact@travelder.com'
export local_facebook_oauth_key='745678155587072'
export local_facebook_oauth_secret='6fc2442d9a23bcfc104bb4fc27d5ccc1'
export local_linkedin_oauth_key='81m81bg9hnd3jt'
export local_linkedin_oauth_secret='3S8YXZEOIllmDsef'
export local_angel_oauth_key=''
export local_angel_oauth_secret=''
export local_twitter_oauth_key='C6Jqc9i9Pr0whIcU18Fz8CNMQ'
export local_twitter_oauth_secret='hNA7Xqf2gTXdUFmYQbvVXZOoM1HzeQn6PR1kduWMDXcdqvRdD3'
export local_googleplus_oauth_key='802095291346-o5eh8729ti70t1bbaj3h31qhmi99qitu.apps.googleusercontent.com'
export local_googleplus_oauth_secret='ZrIkLhkTQ5ce84_geu6HxmGo'
export local_github_oauth_key='fb93387bbc9f9ffcd2f7'
export local_github_oauth_secret='9e17b019a9d6fb3b6b843a4d462006ffb8d0dfa0'
export local_stackoverflow_oauth_key='8932'
export local_stackoverflow_oauth_secret='qREi*HWy7c6xpMlnhSqjiQ(('
export local_stackeoverflow_oauth_requestkey='XDR1z6q3cmTZlOA**gbjPA(('
export productive_db_engine='django.db.backends.mysql'
export productive_db_name='TRM_production'
export productive_db_user='TRM_user'
export productive_db_password='TRM_db_password'
export productive_db_host=''
export productive_db_port=''
export productive_email_backend='django.core.mail.backends.smtp.EmailBackend'
export productive_email_host='localhost'
export productive_email_host_user=''
export productive_email_host_password=''
export productive_email_port=25
export productive_email_use_tls=True
export productive_default_from_email='SpotAxis <noreply@mail.spotaxis.com>'
export productive_server_email='SpotAxis <server@mail.spotaxis.com>'
export productive_paypal_merchant_id='XKMWAANJEJQ5U'
export productive_paypal_access_token='access_token$sandbox$42fgg8mwznb89ys2$81fa0749fc14faafabffe99ea319375b'
export productive_paypal_client_id='AXlssOdyNmxlCzwD67yW7GDIXkynUdUMMaGOkCcQFmWIvdWz4dM_K4JYnh4926J7_psWxdjS0_fMchDD'
export productive_paypal_app_secret='EF2MmDhcbBzk5sU2oUSkuDBVec8xbDfubOyLHudg3Ca06OI8qMSJCe4NuV--5tpWOcz-Hbh94fpBKe-Q'
export productive_paypal_account='contact@travelder.com'
export productive_facebook_oauth_key='745678155587072'
export productive_facebook_oauth_secret='6fc2442d9a23bcfc104bb4fc27d5ccc1'
export productive_linkedin_oauth_key='81m81bg9hnd3jt'
export productive_linkedin_oauth_secret='3S8YXZEOIllmDsef'
export productive_angel_oauth_key=''
export productive_angel_oauth_secret=''
export productive_twitter_oauth_key='C6Jqc9i9Pr0whIcU18Fz8CNMQ'
export productive_twitter_oauth_secret='hNA7Xqf2gTXdUFmYQbvVXZOoM1HzeQn6PR1kduWMDXcdqvRdD3'
export productive_googleplus_oauth_key='802095291346-o5eh8729ti70t1bbaj3h31qhmi99qitu.apps.googleusercontent.com'
export productive_googleplus_oauth_secret='ZrIkLhkTQ5ce84_geu6HxmGo'
export productive_github_oauth_key='fb93387bbc9f9ffcd2f7'
export productive_github_oauth_secret='9e17b019a9d6fb3b6b843a4d462006ffb8d0dfa0'
export productive_stackoverflow_oauth_key='8932'
export productive_stackoverflow_oauth_secret='qREi*HWy7c6xpMlnhSqjiQ(('
export productive_stackeoverflow_oauth_requestkey='XDR1z6q3cmTZlOA**gbjPA(('
export sever_dev_db_engine='django.db.backends.mysql'
export sever_dev_db_name='TRM_deployment_test'
export sever_dev_db_user='TRM_user'
export sever_dev_db_password='TRM_db_password'
export sever_dev_db_host=''
export sever_dev_db_port=''
export sever_dev_email_backend='django.core.mail.backends.smtp.EmailBackend'
export sever_dev_email_host='localhost'
export sever_dev_email_host_user=''
export sever_dev_email_host_password=''
export sever_dev_email_port=25
export sever_dev_email_use_tls=True
export sever_dev_default_from_email='SpotAxis <no-reply@spotaxis.com>'
export sever_dev_server_email='SpotAxis <no-reply@spotaxis.com>'
export sever_dev_paypal_merchant_id='XKMWAANJEJQ5U'
export sever_dev_paypal_access_token='access_token$sandbox$42fgg8mwznb89ys2$81fa0749fc14faafabffe99ea319375b'
export sever_dev_paypal_client_id='AawWwBbC0IUBhU4sJ8I3aPzjBXIjJyzcAXYNSXxC1JCO4l6K_kr5TIU085cjwmOq34mg4pzCFyLkZeeK'
export sever_dev_paypal_app_secret='EGkHxjwddqKnIDr6LUEPyY2IVqygyZxbf27M3RNhLUMEi1jUG4Wl864ZUfBHu0uM6V6fPjT_k5aSbgEG'
export sever_dev_paypal_account='contact@travelder.com'
export sever_dev_facebook_oauth_key='745678155587072'
export sever_dev_facebook_oauth_secret='6fc2442d9a23bcfc104bb4fc27d5ccc1'
export sever_dev_linkedin_oauth_key='81m81bg9hnd3jt'
export sever_dev_linkedin_oauth_secret='3S8YXZEOIllmDsef'
export sever_dev_angel_oauth_key=''
export sever_dev_angel_oauth_secret=''
export sever_dev_twitter_oauth_key='C6Jqc9i9Pr0whIcU18Fz8CNMQ'
export sever_dev_twitter_oauth_secret='hNA7Xqf2gTXdUFmYQbvVXZOoM1HzeQn6PR1kduWMDXcdqvRdD3'
export sever_dev_googleplus_oauth_key='802095291346-o5eh8729ti70t1bbaj3h31qhmi99qitu.apps.googleusercontent.com'
export sever_dev_googleplus_oauth_secret='ZrIkLhkTQ5ce84_geu6HxmGo'
export sever_dev_github_oauth_key='fb93387bbc9f9ffcd2f7'
export sever_dev_github_oauth_secret='9e17b019a9d6fb3b6b843a4d462006ffb8d0dfa0'
export sever_dev_stackoverflow_oauth_key='8932'
export sever_dev_stackoverflow_oauth_secret='qREi*HWy7c6xpMlnhSqjiQ(('
export sever_dev_stackeoverflow_oauth_requestkey='XDR1z6q3cmTZlOA**gbjPA(('