<!--========== FOOTER ==========-->
        <footer class="g-bg-color--dark">
            <!-- Links -->
            <div class="g-hor-divider__dashed--white-opacity-lightest">
                <div class="container g-padding-y-80--xs">
                    <div class="row">
                        <div class="col-sm-2 g-margin-b-20--xs g-margin-b-0--md">
                            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="{% url 'about_us' %}">About</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="{% url 'product' %}">Features</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="{% url 'pricing' %}">Pricing</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://careers.spotaxis.com/">Careers</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="{{settings.HOSTED_URL}}" target="_blank">Support</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2 g-margin-b-20--xs g-margin-b-0--md">
                            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="https://www.linkedin.com/company-beta/16203576/">Linkedin</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="https://twitter.com/spotaxis">Twitter</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="https://www.facebook.com/spotaxis/">Facebook</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2 g-margin-b-40--xs g-margin-b-0--md">
                            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="{% url 'TRM_privacy_policy' %}">Privacy Policy</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="{% url 'TRM_terms_and_conditions' %}">Terms &amp; Conditions</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 s-footer__logo g-padding-y-50--xs g-padding-y-0--md">
                            <h3 class="g-font-size-18--xs g-color--white">SpotAxis</h3>
                            <p class="g-color--white-opacity">Stop wondering, start recruiting.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Links -->

        </footer>
        <!--========== END FOOTER ==========-->