/*
Green:       	#74C52C    rgba(116,197,44, 1);
Blue:        	#3498db    rgba(52,152,219, 1);
Orange:      	#e67e22    rgba(230,126,34, 1);
Red:         	#e74c3c	   rgba(231,76,60, 1);
Grey:        	#bdc3c7	   rgba(189,195,199, 1);
Purple:      	#9b6bcc	   rgba(155,107,204, 1);	
Aqua:        	#27d7e7    rgba(39,215,231, 1);
Brown:       	#9c8061    rgba(156,128,97, 1);
Dark Blue:   	#4765a0    rgba(71,101,160, 1);
Light Green: 	#79d5b3    rgba(121,213,179, 1);
*/



.btn-u {
   border: 0;
   color: #fff;
   font-size: 14px;
   cursor: pointer;
   font-weight: 400;
   padding: 8px 13px;
   position: relative;
   background: #72c02c;
   white-space: nowrap;
   display: inline-block;
   text-decoration: none;
    text-transform: uppercase;

}
.btn-u:hover {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-u.btn-block {
  text-align: center;
}

a.btn-u {
   /*padding: 4px 13px;*/
   /*vertical-align: middle;*/
}

.btn-u-sm,
a.btn-u-sm {
   padding: 3px 12px;
}

.btn-u-lg,
a.btn-u-lg {
   font-size: 18px;
   padding: 10px 25px;
}

.btn-u-xs,
a.btn-u-xs {
   font-size: 12px;
   padding: 2px 12px;
   line-height: 18px;
}

/*For FF Only*/
@-moz-document url-prefix() {
   .footer-subsribe .btn-u {
      padding-bottom: 4px;
   }
}
@media (max-width: 768px) {
   @-moz-document url-prefix() {
      .btn-u {
         padding-bottom: 6px;
      }
   }
}

/*Buttons Color*/
.btn-u:hover,
.btn-u:focus,
.btn-u:active,
.btn-u.active,
.open .dropdown-toggle.btn-u {
   background: #5fb611;
}
.btn-u-split.dropdown-toggle {
   border-left: solid 1px #5fb611;
}

.btn-u.btn-u-blue {
   background: #3498db;
}
.btn-u.btn-u-blue:hover,
.btn-u.btn-u-blue:focus,
.btn-u.btn-u-blue:active,
.btn-u.btn-u-blue.active,
.open .dropdown-toggle.btn-u.btn-u-blue {
   background: #2980b9;
}
.btn-u.btn-u-split-blue.dropdown-toggle {
   border-left: solid 1px #2980b9;
}

.btn-u.btn-u-red {
   background: #e74c3c;
}
.btn-u.btn-u-red:hover,
.btn-u.btn-u-red:focus,
.btn-u.btn-u-red:active,
.btn-u.btn-u-red.active,
.open .dropdown-toggle.btn-u.btn-u-red {
   background: #c0392b;
}
.btn-u.btn-u-split-red.dropdown-toggle {
   border-left: solid 1px #c0392b;
}

.btn-u.btn-u-orange {
   background: #e67e22;
}
.btn-u.btn-u-orange:hover,
.btn-u.btn-u-orange:focus,
.btn-u.btn-u-orange:active,
.btn-u.btn-u-orange.active,
.open .dropdown-toggle.btn-u.btn-u-orange {
   background: #d35400;
}
.btn-u.btn-u-split-orange.dropdown-toggle {
   border-left: solid 1px #d35400;
}

.btn-u.btn-u-sea {
   background: #1abc9c;
}
.btn-u.btn-u-sea:hover,
.btn-u.btn-u-sea:focus,
.btn-u.btn-u-sea:active,
.btn-u.btn-u-sea.active,
.open .dropdown-toggle.btn-u.btn-u-sea {
   background: #16a085;
}
.btn-u.btn-u-split-sea.dropdown-toggle {
   border-left: solid 1px #16a085;
}

.btn-u.btn-u-green {
   background: #2ecc71;
}
.btn-u.btn-u-green:hover,
.btn-u.btn-u-green:focus,
.btn-u.btn-u-green:active,
.btn-u.btn-u-green.active,
.open .dropdown-toggle.btn-u.btn-u-green {
   background: #27ae60;
}
.btn-u.btn-u-split-green.dropdown-toggle {
   border-left: solid 1px #27ae60;
}

.btn-u.btn-u-yellow {
   background: #f1c40f;
}
.btn-u.btn-u-yellow:hover,
.btn-u.btn-u-yellow:focus,
.btn-u.btn-u-yellow:active,
.btn-u.btn-u-yellow.active,
.open .dropdown-toggle.btn-u.btn-u-yellow {
   background: #f39c12;
}
.btn-u.btn-u-split-yellow.dropdown-toggle {
   border-left: solid 1px #f39c12;
}

.btn-u.btn-u-default {
   background: #95a5a6;
}
.btn-u.btn-u-default:hover,
.btn-u.btn-u-default:focus,
.btn-u.btn-u-default:active,
.btn-u.btn-u-default.active,
.open .dropdown-toggle.btn-u.btn-u-default {
   background: #7f8c8d;
}
.btn-u.btn-u-split-default.dropdown-toggle {
   border-left: solid 1px #7f8c8d;
}

.btn-u.btn-u-purple {
   background: #814fb5;
}
.btn-u.btn-u-purple:hover,
.btn-u.btn-u-purple:focus,
.btn-u.btn-u-purple:active,
.btn-u.btn-u-purple.active,
.open .dropdown-toggle.btn-u.btn-u-purple {
   background: #5c3881;
}
.btn-u.btn-u-split-purple.dropdown-toggle {
   border-left: solid 1px #814fb5;
}

.btn-u.btn-u-aqua {
   background: #27d7e7;
}
.btn-u.btn-u-aqua:hover,
.btn-u.btn-u-aqua:focus,
.btn-u.btn-u-aqua:active,
.btn-u.btn-u-aqua.active,
.open .dropdown-toggle.btn-u.btn-u-aqua {
   background: #26bac8;
}
.btn-u.btn-u-split-aqua.dropdown-toggle {
   border-left: solid 1px #26bac8;
}

.btn-u.btn-u-brown {
   background: #9c8061;
}
.btn-u.btn-u-brown:hover,
.btn-u.btn-u-brown:focus,
.btn-u.btn-u-brown:active,
.btn-u.btn-u-brown.active,
.open .dropdown-toggle.btn-u.btn-u-brown {
   background: #81674b;
}
.btn-u.btn-u-split-brown.dropdown-toggle {
   border-left: solid 1px #81674b;
}

.btn-u.btn-u-dark-blue {
   background: #4765a0;
}
.btn-u.btn-u-dark-blue:hover,
.btn-u.btn-u-dark-blue:focus,
.btn-u.btn-u-dark-blue:active,
.btn-u.btn-u-dark-blue.active,
.open .dropdown-toggle.btn-u.btn-u-dark-blue {
   background: #324c80;
}
.btn-u.btn-u-split-dark.dropdown-toggle {
   border-left: solid 1px #324c80;
}

.btn-u.btn-u-light-green {
   background: #79d5b3;
}
.btn-u.btn-u-light-green:hover,
.btn-u.btn-u-light-green:focus,
.btn-u.btn-u-light-green:active,
.btn-u.btn-u-light-green.active,
.open .dropdown-toggle.btn-u.btn-u-light-green {
   background: #59b795;
}
.btn-u.btn-u-split-light-green.dropdown-toggle {
   border-left: solid 1px #59b795;
}

.btn-u.btn-u-dark {
   background: #555;
}
.btn-u.btn-u-dark:hover,
.btn-u.btn-u-dark:focus,
.btn-u.btn-u-dark:active,
.btn-u.btn-u-dark.active,
.open .dropdown-toggle.btn-u.btn-u-dark {
   background: #333;
}
.btn-u.btn-u-split-dark.dropdown-toggle {
   border-left: solid 1px #333;
}

.btn-u.btn-u-light-grey {
   background: #585f69;
}
.btn-u.btn-u-light-grey:hover,
.btn-u.btn-u-light-grey:focus,
.btn-u.btn-u-light-grey:active,
.btn-u.btn-u-light-grey.active,
.open .dropdown-toggle.btn-u.btn-u-light-grey {
   background: #484f58;
}
.btn-u.btn-u-split-light-grey.dropdown-toggle {
   border-left: solid 1px #484f58;
}

/*Icons Color*/
i.icon-color-u,
i.icon-color-red,
i.icon-color-sea,
i.icon-color-dark,
i.icon-color-grey,
i.icon-color-blue,
i.icon-color-green,
i.icon-color-yellow,
i.icon-color-orange,
i.icon-color-purple,
i.icon-color-aqua,
i.icon-color-brown,
i.icon-color-dark-blue,
i.icon-color-light-grey,
i.icon-color-light-green, {
  background: none;
}

i.icon-color-u {
   color: #72c02c;
   border: solid 1px #72c02c;
}
i.icon-color-blue {
   color: #3498db;
   border: solid 1px #3498db;
}
i.icon-color-red {
   color: #e74c3c;
   border: solid 1px #e74c3c;
}
i.icon-color-sea {
   color: #1abc9c;
   border: solid 1px #1abc9c;
}
i.icon-color-green {
   color: #2ecc71;
   border: solid 1px #2ecc71;
}
i.icon-color-yellow {
   color: #f1c40f;
   border: solid 1px #f1c40f;
}
i.icon-color-orange {
   color: #e67e22;
   border: solid 1px #e67e22;
}
i.icon-color-grey {
   color: #95a5a6;
   border: solid 1px #95a5a6;
}
i.icon-color-purple {
   color: #9b6bcc;
   border: solid 1px #9b6bcc;
}
i.icon-color-aqua {
   color: #27d7e7;
   border: solid 1px #27d7e7;
}
i.icon-color-brown {
   color: #9c8061;
   border: solid 1px #9c8061;
}
i.icon-color-dark-blue {
   color: #4765a0;
   border: solid 1px #4765a0;
}
i.icon-color-light-green {
   color: #79d5b3;
   border: solid 1px #79d5b3;
}
i.icon-color-light {
   color: #fff;
   border: solid 1px #fff;
}
i.icon-color-light-grey {
   color: #585f69;
   border: solid 1px #585f69;
}

/*Icons Backgroun Color*/
i.icon-bg-u,
i.icon-bg-red,
i.icon-bg-sea,
i.icon-bg-dark,
i.icon-bg-darker,
i.icon-bg-grey,
i.icon-bg-blue,
i.icon-bg-green,
i.icon-bg-yellow,
i.icon-bg-orange,
i.icon-bg-purple,
i.icon-bg-aqua,
i.icon-bg-brown,
i.icon-bg-dark-blue,
i.icon-bg-light-grey,
i.icon-bg-light-green {
   color: #fff;
   border-color: transparent;
}

i.icon-bg-u {
   background: #72c02c;
}
i.icon-bg-blue {
   background: #3498db;
}
i.icon-bg-red {
   background: #e74c3c;
}
i.icon-bg-sea {
   background: #1abc9c;
}
i.icon-bg-green {
   background: #2ecc71;
}
i.icon-bg-yellow {
   background: #f1c40f;
}
i.icon-bg-orange {
   background: #e67e22;
}
i.icon-bg-grey {
   background: #95a5a6;
}
i.icon-bg-dark {
   background: #555;
}
i.icon-bg-darker {
   background: #333;
}
i.icon-bg-purple {
   background: #9b6bcc;
}
i.icon-bg-aqua {
   background: #27d7e7;
}
i.icon-bg-brown {
   background: #9c8061;
}
i.icon-bg-dark-blue {
   background: #4765a0;
}
i.icon-bg-light-green {
   background: #79d5b3;
}
i.icon-bg-light {
   background: #fff;
   border-color: transparent;
}
i.icon-bg-light-grey {
   background: #585f69;
   border-color: transparent;
}


/*Pricing Page New
------------------------------------*/
.pricing-table-v1 .sticker-right,
.pricing-table-v1 .sticker-left {
  	color: #fff;
	width: 150px;
	padding: 1px;
	font-size: 10px;
	font-weight: bold;
	font-family: Arial;
	position: absolute;
	text-align: center;
	letter-spacing: 2px;
	background-color: #585f69;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	}

 .pricing-table-v1 .sticker-right {
    top: 6px;
    right: -59px;
    transform: rotate(45deg);   
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
 .pricing-table-v1 .sticker-left {
    top: 10px;
    left: -58px;
    transform: rotate(-45deg);   
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.pricing-table-v1 .bg-green {
	background-color: rgba(116,197,44, 0.9);
}

.pricing-table-v1 .bg-blue {
	background-color: rgba(52, 152, 219, 1);
}

.pricing-table-v1 .bg-orange {
	background-color: rgba(230,126,34, 1);
}

.pricing-table-v1 .bg-red {
	background-color: rgba(231,76,60, 1);
}

.pricing-table-v1 .bg-grey {
	background-color: rgba(189,195,199, 1);
}

.pricing-table-v1 .bg-purple {
	background-color: rgba(155,107,204, 1);
}

.pricing-table-v1 .bg-aqua {
	background-color: rgba(39,215,231, 1);
}

.pricing-table-v1 .bg-brown {
	background-color: rgba(156,128,97, 1);
}

.pricing-table-v1 .bg-dark-blue {
	background-color: rgba(71,101,160, 1);
}

.pricing-table-v1 .bg-light-green {
	background-color: rgba(121,213,179, 1);
}

.pricing-table-v1 .pricing-v1 {
	overflow: hidden;
	position: relative;
	margin-bottom: 30px;

}

.pricing-table-v1 .pricing-v1:hover li {
	background: #fff;
}

.pricing-table-v1 .pricing-v1-head {
	padding: 1px 0;
	background: #74C52C;
}

.pricing-table-v1 .pricing-v1-head h4,
.pricing-table-v1 .pricing-v1-head h5 {
	font-size: 18px;
	margin: 0;
	color: #fff;
	/*padding: 9px 0;*/
	font-family: Arial;
	letter-spacing: 1px;
}

.pricing-table-v1 .pricing-v1-head h4 {
    padding: 9px 0 0;
}

.pricing-table-v1 .pricing-v1-head h5 {
	font-size: 30px;
	margin-left: 17px;
    padding: 9px 0;
}

.pricing-table-v1 .pricing-v1-head h5 i {
	top: -5px;
	font-size: 15px;
	padding-left: 2px;
	position: relative;
	font-style: normal;
}

.pricing-table-v1 .pricing-v1-head h5 span {
	top: -10px;
    margin-left: -15px;
	font-size: 15px;
	position: relative;
	padding-right: 5px;
}

.pricing-table-v1 .pricing-v1-content {
	margin-bottom: 0;
	background: #f9f9f9;
    margin-left: 15px;
    margin-right: 15px;
}

/*ul.list-unstyled.pricing-v1-content {*/
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
/*}*/
/*ul.fa-ul.pricing-v1-content {*/
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
/*}*/

/*.pricing-table-v1 .pricing-v1-content li .fa-li {*/
  /*position: inherit;*/
  /*left: -10px;*/
  /*width: 2.14285714em;*/
  /*top: .14285714em;*/
  /*text-align: center;*/
/*}*/

.pricing-table-v1 .pricing-v1-content li {
	margin: 0;
	color: #888;
	padding: 13px 0px;
    /*padding: 13px 20px 13px 2px;*/
	border-bottom: 1px solid rgba(116, 197, 44, 0.3);
}

.pricing-table-v1 .pricing-v1-content li i {
	margin-right: 10px;
	color: #74C52C;
}

.pricing-table-v1 .pricing-v1-green .btn-u {
    background: #72c02c !important;
}

.pricing-table-v1 .pricing-v1-blue .pricing-v1-head {
	background: rgba(52, 152, 219, 1);
} 

.pricing-table-v1 .pricing-v1-blue .pricing-v1-content li {
	border-bottom: 1px solid rgba(52, 152, 219, 0.3);
}

.pricing-table-v1 .pricing-v1-blue .pricing-v1-content  li i{
	color: rgba(52, 152, 219, 1);
}

.pricing-table-v1 .pricing-v1-orange .pricing-v1-head {
	background: rgba(230,126,34, 1);
} 

.pricing-table-v1 .pricing-v1-orange .pricing-v1-content li {
	border-bottom: 1px solid rgba(230,126,34, 0.3);
}

.pricing-table-v1 .pricing-v1-orange .pricing-v1-content  li i{
	color: rgba(230,126,34, 1);
}

.pricing-table-v1 .pricing-v1-red .pricing-v1-head {
	background: rgba(231,76,60, 1);
} 

.pricing-table-v1 .pricing-v1-red .pricing-v1-content li {
	border-bottom: 1px solid rgba(231,76,60, 0.2);
}

.pricing-table-v1 .pricing-v1-red .pricing-v1-content  li i{
	color: rgba(231,76,60, 1);
}

.pricing-table-v1 .pricing-v1-grey .pricing-v1-head {
	background: rgba(189,195,199, 1);
} 

.pricing-table-v1 .pricing-v1-grey .pricing-v1-content li {
	border-bottom: 1px solid rgba(189,195,199, 0.3);
}

.pricing-table-v1 .pricing-v1-grey .pricing-v1-content  li i{
	color: rgba(189,195,199, 1);
}

.pricing-table-v1 .pricing-v1-light-grey .pricing-v1-head {
	background: rgba(88,95,105, 1);
}

.pricing-table-v1 .pricing-v1-light-grey .pricing-v1-content li {
	border-bottom: 1px solid rgba(88,95,105, 0.3);
}

.pricing-table-v1 .pricing-v1-light-grey .pricing-v1-content  li i{
	color: rgba(88,95,105, 1);
}

.pricing-table-v1 .pricing-v1-purple .pricing-v1-head {
	background: rgba(155,107,204, 1);
} 

.pricing-table-v1 .pricing-v1-purple .pricing-v1-content li {
	border-bottom: 1px solid rgba(155,107,204, 0.3);
}

.pricing-table-v1 .pricing-v1-purple .pricing-v1-content  li i{
	color: rgba(155,107,204, 1);
}

.pricing-table-v1 .pricing-v1-aqua .pricing-v1-head {
	background: rgba(39,215,231, 1);
} 

.pricing-table-v1 .pricing-v1-aqua .pricing-v1-content li {
	border-bottom: 1px solid rgba(39,215,231, 0.3);
}

.pricing-table-v1 .pricing-v1-aqua .pricing-v1-content  li i{
	color: rgba(39,215,231, 1);
}

.pricing-table-v1 .pricing-v1-brown .pricing-v1-head {
	background: rgba(156,128,97, 1);
} 

.pricing-table-v1 .pricing-v1-brown .pricing-v1-content li {
	border-bottom: 1px solid rgba(156,128,97, 0.3);
}

.pricing-table-v1 .pricing-v1-brown .pricing-v1-content  li i{
	color: rgba(156,128,97, 1);
}

.pricing-table-v1 .pricing-v1-dark-blue .pricing-v1-head {
	background: rgba(71,101,160, 1);
} 

.pricing-table-v1 .pricing-v1-dark-blue .pricing-v1-content li {
	border-bottom: 1px solid rgba(71,101,160, 0.3);
}

.pricing-table-v1 .pricing-v1-dark-blue .pricing-v1-content  li i{
	color: rgba(71,101,160, 1);
}

.pricing-table-v1 .pricing-v1-light-green .pricing-v1-head {
	background: rgba(121,213,179, 1);
} 

.pricing-table-v1 .pricing-v1-light-green .pricing-v1-content li {
	border-bottom: 1px solid rgba(121,213,179, 0.3);
}

.pricing-table-v1 .pricing-v1-light-green .pricing-v1-content  li i{
	color: rgba(121,213,179, 1);
}


/* Devices (Large Screen Mode, 1200px more) */
@media (min-width: 1200px) {
	
	.pricing-table-v1 .sticker-right {
		top: 10px;
	    right: -51px;
	    padding: 6px;
	   	font-size: 10px;
	}	

	.pricing-table-v1 .sticker-left {
		top: 10px;
	    left: -51px;
	    padding: 5px;
	   	font-size: 10px;
	}

	.pricing-table-v1 .pricing-v1 {
		-webkit-transition: all 300ms;
		-moz-transition: all 300ms;
	}

	.pricing-table-v1 .pricing-v1:hover {
		-webkit-transform: scale(1.04);
		-moz-transform: scale(1.04);
	}

	.pricing-table-v1 .pricing-v1:hover li {
		background: #fff;
	}
}

/* Devices (Desktop Mode, 992px and 1200px) */
@media (min-width: 992px) and (max-width: 1200px) {
	
	.pricing-table-v1 .pricing-v1-head h4 {
		font-size: 18px;
	}

	.pricing-table-v1 .pricing-v1 {
		-webkit-transition: all 300ms ;
		-moz-transition: all 300ms;
	}

	.pricing-table-v1 .pricing-v1:hover {
		-webkit-transform: scale(1.04);
		-moz-transform: scale(1.04);
	}
}

/* Devices (Tablet Mode, 768px and 991px) */
@media (min-width: 767px) and (max-width: 991px) {
	
	.no-space-pricing [class^="col-"],
	.no-space-pricing [class*=" col-"] {
		padding: 5px;
	}
	
	.pricing-table-v1 .pricing-v1-content li {
		padding: 9px 10px;
	}	

}

/* Medium Devices (Phone Mode, 768px and less) */
@media (max-width: 767px) {
	/*Pricing Page*/
	
	.no-space-pricing [class^="col-"],
	.no-space-pricing [class*=" col-"] {
		padding: 10px;
	}

	.pricing-table-v1 .sticker-right,
	.pricing-table-v1 .sticker-left {
		top: 39px;
		padding: 0;
		float: left;
		left: -40px;
		width: 95px;
		border: none;
	    transform: rotate(270deg);   
		-o-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
	}
	
	.pricing-table-v1 .pricing-v1-content {
		text-align: center;
	}

	.pricing-table-v1 .pricing-v1-content li {
		padding: 9px 0 9px 7px;
	}

	.pricing-table-v1 .pricing-v1-content li i {
		display: block;
		margin-bottom: 5px; 
	}

}
