{% extends "base/base.html" %}
{% load i18n %}
{#{% trans "" %}#}

{% block meta %}
    <meta name="keyword" content="Password Change, SpotAxis"/>
    <meta name="description" content="Change Password on SpotAxis"/>
{% endblock %}
{% block title %}SpotAxis | Successfully Changed Password" %}{% endblock %}

{% block page-header %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <p>
    {% blocktrans %}We have successfully changed your password.{% endblocktrans %}
    </p>
{% endblock %}
