{% extends "base/base.html" %}
{% load i18n %}
{#{% trans "" %}#}
{% block meta %}
    <meta name="keyword" content="Change Email, SpotAxis"/>
    <meta name="description" content="Change Email on SpotAxis"/>
{% endblock %}
{% block title %}SpotAxis | Change Email{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12 mt10 mb10">
            <h1 class="text-light text-center">Change e-mail</h1>
        </div>
    </div>
    <div class="row mb10">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 ">
            <div class="panel panel-default">
                <form id="change-email-form" enctype="multipart/form-data" action="." method="post" role="form" class="panel-body panel-shadow reg-page">
                    {% csrf_token %}


                    <div class="row mt40">
                        <div class="col-md-12">
                            <p class="text-light text-center mb40"><strong>Current Email:</strong> {{ actual_email }}</p>
                            <div class="form-group">
                                {% if form.new_email.errors %}
                                    <ul class="list-unstyled error-list text-danger">
                                    {% for error in form.new_email.errors %}
                                        <li>{{ error|escape }}</li>
                                    {% endfor %}
                                    </ul>
                                {% else %}
                                    <label for="id_new_email">{% trans 'New Email' %}</label>
                                {% endif %}
                                <div class="input-group {% if form.new_email.errors %}has-error{% endif %} mb20">
                                    <div class="input-group-addon"><i class="fa fa-at fa-lg"></i></div>
                                    {{ form.new_email }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt20 mb40">
                        <div class="col-md-12">
                            <button type="submit" id="submit_btn" name="submit_btn" class="btn btn-info btn-block">
                                <i class="fa fa-pencil-square-o fa-lg"></i> {% trans 'Change email' %}
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}
