{% extends "base/outer_base.html" %}
{% load i18n %}
{% load TRM_tags %}

{% comment %} Home {% endcomment %}
{%block meta %}
    {{ block.super }}
    <link rel="canonical" href="https://spotaxis.com/">
{%endblock %}

{% block content %}

        <!--========== PAGE CONTENT ==========-->
        <!--<div class="g-bg-position--center g-fullheight--xs" style="background: url('{{ STATIC_URL }}newtheme/img/1920x1080/08.jpg'); background-color= white">-->
        <div class="g-bg-position--center g-padding-y-80--xs" style="min-height:100vh">
            <div class="container js__ver-center-aligned">
                <div class="g-text-center--xs">
                    <div class="g-margin-t-40--xs g-margin-b-60--xs g-margin-b-80--sm">
                        <h1 class="g-font-size-32--xs g-font-size-50--sm g-font-size-60--md g-margin-b-30--xs">Recover Username</h1>
                        <!--p class="text-uppercase g-font-size-20--md g-font-weight--300">Be the first to know when we launch</p-->
                    </div>
                    <form role="form" method="post" action=".">
                    	{% csrf_token %}
                    	{% if next %}
				            <input type="hidden" name="next" value="{{ next }}" />
				        {% endif %}

                        <div class="row g-margin-b-40--xs">
                            <div class=" col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-6 g-full-width--xs g-margin-b-30--xs g-margin-b-0--md">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <i class="s-form-v4__icon ti-email"></i>
                                    </span>
                                    {{ form.email }}
                                </div>
                                <ul class="list-unstyled error-list g-margin-t-10--xs">
                                {% for error in form.email.errors %}
                                    <li class="text-left text-danger">{{ error|escape }}</li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <button type="submit" class="text-uppercase s-btn s-btn--md s-btn--dark-brd g-radius--50 g-padding-x-50--xs g-margin-b-20--xs">Access</button>
                    </form>
                </div>
            </div>
        </div>
        <!--========== END PAGE CONTENT ==========-->

{% endblock %}