{% extends "base/base.html" %}
{% load i18n %}
{% block meta %}
    <meta name="keyword" content="Password Reset, SpotAxis"/>
    <meta name="description" content="Reset Password on SpotAxis"/>
{% endblock %}

{% block title %}SpotAxis | Reset Password{% endblock %}


{% block content %}

    <div class="row mt50 mb60">

        <div class="col-xs-12">

            <div class="row">
                <div class="col-md-6 col-md-push-3 col-sm-push-2 col-sm-8">
                    <h2 class='text-center text-light'>{% trans 'Reset Password' %}</h2>
                
                    <div class="panel panel-default">
                        <div class="panel-body panel-shadow pt20 pb20">
                            {% if validlink %}
                                <form id="reset-password-form" enctype="multipart/form-data" action="." method="post" role="form">
                                    {% csrf_token %}

                                    <div class="row">
                                        <!-- Password New 1 -->
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                {% if form.new_password1.errors %}
                                                    <ul class="list-unstyled error-list">
                                                    {% for error in form.new_password1.errors %}
                                                        <li>{{ error|escape }}</li>
                                                    {% endfor %}
                                                    </ul>
                                                {% else %}
                                                    <label for="id_new_password1">{% trans 'New Password' %}</label>
                                                {% endif %}
                                                {{ form.new_password1 }}
                                            </div>
                                        </div>
                                    </div><!-- New Password 1 -->

                                    <div class="row">
                                        <!-- New Password 2 -->
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                {% if form.new_password2.errors %}
                                                    <ul class="list-unstyled error-list">
                                                    {% for error in form.new_password2.errors %}
                                                        <li>{{ error|escape }}</li>
                                                    {% endfor %}
                                                    </ul>
                                                {% else %}
                                                    <label for="id_new_password2">{% trans 'Confirm New Password' %}</label>
                                                {% endif %}
                                                {{ form.new_password2 }}
                                            </div>
                                        </div>
                                    </div><!-- New Password 2 -->

                                    <div class="row mt25">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-info btn-block">
                                                <i class="fa fa-unlock fa-lg"></i> {% trans 'Reset Password' %}
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            {% else %}

                                <p>
                                    {% trans 'The link is invalid or has already been used previously.' %}
                                </p>

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block java_script_code %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $('#id_new_password1').addClass('form-control').attr('placeholder', 'Enter your New Password');
                $('#id_new_password2').addClass('form-control').attr('placeholder', 'Enter the password again');
            });
        });
    </script>
{% endblock %}
