{% extends "base/base.html" %}
{% load i18n %}

{% block meta %}
    <meta name="keyword" content="Password Reset, SpotAxis"/>
    <meta name="description" content="Reset Password on SpotAxis"/>
{% endblock %}
{% block title %}SpotAxis | Reset Password{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-xs-12 mt10 mb10">

            <h1 class="text-center text-light">Account Recovery</h1>
        </div>
    </div>
    <div class="row mb10">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
            <div class="panel panel-default">
                <form id="reset-password-form" enctype="multipart/form-data" action="." method="post" role="form" class="panel-body panel-shadow reg-page">
                    {% csrf_token %}
                        <div class="row mb20">
                            <div class="col-xs-12 mt10 mb10">
                                <h2 class="text-center text-light">Reset Password</h2>
                                <hr class="header-seperator">
                            </div>
                            <!-- Email -->
                            <div class="col-md-12 mt20">
                                <div class="form-group">
                                    {% if form.email.errors %}
                                        <ul class="list-unstyled error-list">
                                        {% for error in form.email.errors %}
                                            <li class="text-danger">{{ error|escape }}</li>
                                        {% endfor %}
                                        </ul>
                                    {% else %}
                                        <label for="id_email">{% trans 'Email' %}</label>
                                    {% endif %}
                                    <div class="input-group {% if form.email.errors %} has-error{%endif%}">
                                        <div class="input-group-addon"><i class="fa fa-envelope fa-lg"></i></div>
                                        {{ form.email }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt20 mb20">
                                <button type="submit" class="btn btn-info btn-block mt10 mb10">
                                    <i class="fa fa-unlock"></i> {% trans 'Reset Password' %}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block java_script_code %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $('#id_email').addClass('form-control').attr('placeholder', 'Enter your Email');
            });
        });
    </script>
{% endblock %}
