SECRET_KEY='django-insecure-#&!@'
ENVIRONMENT='local_development'
allowed_hosts='*'
session_cookie_domain='.spotaxis.com'
TIME_ZONE='Asia/Kolkata'
db_engine='django.db.backends.mysql'
db_name='database_name'
db_user='database_user'
db_password='database_password'
db_host=''
db_port=''
email_backend='django.core.mail.backends.console.EmailBackend'
email_host='host.email.com'
email_host_user='emailhost.user@email.com'
email_host_password='emailpassword'
email_port=587
use_tls=True
default_from_email='SpotAxis <noreply@mail.spotaxis.com>'
server_email='SpotAxis <server@mail.spotaxis.com>'
facebook_secret='facebook-secret'
facebook_key='facebook-key'
paypal_merchant_id='paypal-merchant-id'
paypal_access_token='paypal_access_token'
paypal_client_id='paypal_client_id'
paypal_app_secret='paypal_app_secret'
paypal_account='paypal_account'
facebook_oauth_key='facebook_oauth_key'
facebook_oauth_secret='facebook_oauth_secret'
linkedin_oauth_key='linkedin_oauth_key'
linkedin_oauth_secret='linkedin_oauth_secret'
angel_oauth_key='angel_oauth_key'
angel_oauth_secret='angel_oauth_secret'
twitter_oauth_key='twitter_oauth_key'
twitter_oauth_secret='twitter_oauth_secret'
googleplus_oauth_key='googleplus_oauth_key'
googleplus_oauth_secret='googleplus_oauth_secret'
github_oauth_key='github_oauth_key'
github_oauth_secret='github_oauth_secret'
stackoverflow_oauth_key='stackoverflow_oauth_key'
stackoverflow_oauth_secret='stackoverflow_oauth_secret'
stackeoverflow_oauth_requestkey='stackeoverflow_oauth_requestkey'
logo_email=f"{SITE_URL}/static/img/logo/logo.png"
notification_emails='notify@spotaxis.com'
