SECRET_KEY='django-insecure-#&!@'
ENVIRONMENT='local_development'
db_engine='django.db.backends.mysql'
db_name='TRM_local'
db_user='TRM_user'
db_password='pass'
db_host=''
db_port=''
email_host='smtp.gmail.com'
email_host_user='contact.travelder@gmail.com'
email_host_password='qwerty123$'
email_port=587
use_tls=True
default_from_email='SpotAxis <noreply@mail.spotaxis.com>'
server_email='SpotAxis <server@mail.spotaxis.com>'
facebook_secret='b7e32633ce8789a7ff072971cf12e303'
facebook_key='886020148168119'
paypal_merchant_id='XKMWAANJEJQ5U'
paypal_access_token='access_token$sandbox$42fgg8mwznb89ys2$81fa0749fc14faafabffe99ea319375b'
paypal_client_id='AawWwBbC0IUBhU4sJ8I3aPzjBXIjJyzcAXYNSXxC1JCO4l6K_kr5TIU085cjwmOq34mg4pzCFyLkZeeK'
paypal_app_secret='EGkHxjwddqKnIDr6LUEPyY2IVqygyZxbf27M3RNhLUMEi1jUG4Wl864ZUfBHu0uM6V6fPjT_k5aSbgEG'
paypal_account='contact@travelder.com'
facebook_oauth_key='745678155587072'
facebook_oauth_secret='6fc2442d9a23bcfc104bb4fc27d5ccc1'
linkedin_oauth_key='81m81bg9hnd3jt'
linkedin_oauth_secret='3S8YXZEOIllmDsef'
angel_oauth_key=''
angel_oauth_secret=''
twitter_oauth_key='C6Jqc9i9Pr0whIcU18Fz8CNMQ'
twitter_oauth_secret='hNA7Xqf2gTXdUFmYQbvVXZOoM1HzeQn6PR1kduWMDXcdqvRdD3'
googleplus_oauth_key='802095291346-o5eh8729ti70t1bbaj3h31qhmi99qitu.apps.googleusercontent.com'
googleplus_oauth_secret='ZrIkLhkTQ5ce84_geu6HxmGo'
github_oauth_key='fb93387bbc9f9ffcd2f7'
github_oauth_secret='9e17b019a9d6fb3b6b843a4d462006ffb8d0dfa0'
stackoverflow_oauth_key='8932'
stackoverflow_oauth_secret='qREi*HWy7c6xpMlnhSqjiQ(('
stackeoverflow_oauth_requestkey='XDR1z6q3cmTZlOA**gbjPA(('