<div class="modal fade" id="remove_external_referal-modal" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header no-border">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center"><span class="text-light">Remove</span> <span id="external_referal_name"></span></h4>
                <p class="text-center text-light">Please note, removing an external referal link will detach itself from any applications linked to it.</p>
            </div>
            <div class="modal-footer text-center no-border">
                <button id="btn-remove-external-referal" data-id="" class="btn btn-danger"><i class="fa fa-trash"></i> Remove</button>
            </div>
        </div>
    </div>
</div>